<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-1" style="text-align: center">Expense tracker</h1>
        </div>
      </div>
      <div class="row">
        <form action="/user/expense" id="expense-form" method="POST">
          <div class="mb-3">
            <label for="Expense Amount" class="form-label"
              >Expense Amount</label
            >
            <input
              type="number"
              name="amount"
              placeholder="Enter your expense amount"
              id="amount"
              class="form-control"
              required />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input
              type="text"
              name="description"
              placeholder="Enter your description"
              id="description"
              class="form-control" />
          </div>
          <div class="mb-3">
            <label for="choose category" class="form-label"
              >Choose Category</label
            >
            <select name="category" id="category" class="form-select">
              <option value="food">Food</option>
              <option value="transport">Transport</option>
              <option value="shopping">Shopping</option>
              <option value="others">Others</option>
            </select>
          </div>
          <input
            type="submit"
            class="btn btn-primary mb-3"
            id="submit"
            value="Add Expense" />
          <br />
          <button
            type="button"
            class="btn btn-primary"
            id="rzp-button"
            value="Buy Premium">
            Buy Premium
          </button>
        </form>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="display-4" style="text-align: center">Expense List</h2>
          <ul id="expense-list" class="list-group"></ul>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/js/expense.js"></script>
  </body>
</html>
