body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100rem;
  text-align: center;
  min-height: auto;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.form-label {
  font-weight: bold;
  text-align: left;
  display: block;
  width: fit-content;
}

.form-control {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 95%;
  margin-bottom: 8px;
}

input::placeholder {
  color: #aaa;
}

.loginbtn,
.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}
#forgot-password-btn {
  width: 100%;
  padding: 12px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.loginbtn:hover,
.btn-primary:hover {
  background-color: black;
}

#forgot-password-btn {
  background-color: #333;
  border: none;
}

#forgot-password-btn:hover {
  background-color: gray;
}

#message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
