.btnSignin {
  display: block;
  border-radius: 50px;
}

.para {
  font-size: 14px;
  color: rgb(242, 242, 242);
}

.loginbtn {
  border-radius: 50px;
  font-size: 14px;
  display: block;
  width: 100%;
  border: 0;
  background-color: #4caf50;
  padding: 12px 10px;
  color: white;
}

body {
  background-color: lightgray;
}
